name: PR Voter

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build with Java ${{ matrix.java-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version:
          - 17
          - 21
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v5
        with:
          distribution: sapmachine
          java-version: ${{ matrix.java-version }}
      - name: Setup Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.11
      - name: Build with Maven
        run: mvn -B -ntp verify
